{{define "protectedDirsStatic"}}{{range .ProtectedDirs}}
    location ^~ {{.Path}} {
        auth_basic '{{.Realm}}';
        auth_basic_user_file {{.File}};
        try_files $uri $uri/index.html $uri/index.htm =404;
    }
{{end}}{{end}}
{{define "protectedDirsPhp"}}{{range .ProtectedDirs}}
    location ^~ {{.Path}} {
        auth_basic '{{.Realm}}';
        auth_basic_user_file {{.File}};
        try_files $uri $uri/ /index.php$is_args$args;

        location ~ \.php$ {
            fastcgi_pass unix:{{$.PhpSocket}};
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            include {{$.FastcgiParamsPath}};
        }
    }
{{end}}{{end}}
{{define "protectedDirsProxy"}}{{range .ProtectedDirs}}
    location ^~ {{.Path}} {
        auth_basic '{{.Realm}}';
        auth_basic_user_file {{.File}};
        proxy_pass http://{{$.ProxyBackend}};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
{{end}}{{end}}
