{{define "waf"}}{{if .WafEnabled}}{{if .WafCrsExclusion}}
    modsecurity_rules 'SecAction "id:9000002,phase:1,pass,nolog,t:none,setvar:tx.crs_exclusions_{{.WafCrsExclusion}}=1"';{{end}}
    modsecurity on;
    modsecurity_rules_file {{.WafRulesFile}};
    modsecurity_rules '
SecRuleEngine {{.WafEngine}}
SecAuditLog {{.WafAuditLog}}
{{if eq .WafPreset "wordpress"}}SecRule REQUEST_URI "@rx ^/(?:wp-admin/|wp-json/|wp-login[.]php)|[?&]rest_route=" "id:9000001,phase:1,pass,nolog,ctl:ruleRemoveById=941100,ctl:ruleRemoveById=941110,ctl:ruleRemoveById=941120,ctl:ruleRemoveById=941160,ctl:ruleRemoveById=941180,ctl:ruleRemoveById=932100"
{{end}}{{range .WafExcludedRules}}SecRuleRemoveById {{.}}
{{end}}';
{{end}}{{end}}
